In [1]:
#day_16_25sep23

In [1]:
from turtle import Turtle, Screen

timmy=Turtle()
print(timmy)
timmy.shape("turtle")
timmy.color("red","green")
timmy.fd(100)

screen=Screen()
print(screen)
screen.exitonclick()

<turtle.Turtle object at 0x7effa4594610>
<turtle._Screen object at 0x7effa4595ad0>

In [7]:
from prettytable import PrettyTable
x=PrettyTable()

In [8]:
x.add_column("City name",
["Adelaide","Brisbane","Darwin","Hobart","Sydney","Melbourne","Perth"])
x.add_column("Area", [1295, 5905, 112, 1357, 2058, 1566, 5386])
x.add_column("Population", [1158259, 1857594, 120900, 205556, 4336374, 3806092,
1554769])
x.add_column("Annual Rainfall",[600.5, 1146.4, 1714.7, 619.5, 1214.8, 646.9,
869.4])

In [9]:
print(x)

+-----------+------+------------+-----------------+
| City name | Area | Population | Annual Rainfall |
+-----------+------+------------+-----------------+
|  Adelaide | 1295 |  1158259   |      600.5      |
|  Brisbane | 5905 |  1857594   |      1146.4     |
|   Darwin  | 112  |   120900   |      1714.7     |
|   Hobart  | 1357 |   205556   |      619.5      |
|   Sydney  | 2058 |  4336374   |      1214.8     |
| Melbourne | 1566 |  3806092   |      646.9      |
|   Perth   | 5386 |  1554769   |      869.4      |
+-----------+------+------------+-----------------+

In [11]:
table=PrettyTable()

table.add_column("Pokemon Name", ["Pikachu","Squirtle","Charmander"])
table.add_column("Type", ["Electric","Water","Fire"])
print(table)

+--------------+----------+
| Pokemon Name |   Type   |
+--------------+----------+
|   Pikachu    | Electric |
|   Squirtle   |  Water   |
|  Charmander  |   Fire   |
+--------------+----------+

In [14]:
table.align="l"
print(table)

+--------------+----------+
| Pokemon Name | Type     |
+--------------+----------+
| Pikachu      | Electric |
| Squirtle     | Water    |
| Charmander   | Fire     |
+--------------+----------+

In [28]:
from menu import Menu, MenuItem
from coffee_maker import CoffeeMaker
from money_machine import MoneyMachine

In [46]:
profit=MoneyMachine()
maker=CoffeeMaker()

In [47]:
print(profit.report())
print(maker.report())

Money: $0
None
Water: 300ml
Milk: 200ml
Coffee: 100g
None

In [55]:
is_on = True

while is_on:
    choice = input("​What would you like? (espresso/latte/cappuccino): ")
    if choice == "off":
        is_on = False
    elif choice == "report":
        print(maker.report())
        print(profit.report())
    else:
        drink = Menu(choice)
        if is_resource_sufficient(drink.ingredients):
            payment = profit.make_payment()
            if is_transaction_successful(payment, drink["cost"]):
                make_coffee(choice, drink["ingredients"])

​What would you like? (espresso/latte/cappuccino): latte

TypeError: Menu.__init__() takes 1 positional argument but 2 were given